<h1 class="mt-3">Salary History for <%= @user.name %></h1>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Job Title</th>
          <th>Salary</th>
          <th>Change Date</th>
          <th>Change Reason</th>
          <th>Current Salary</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @salary_histories.each do |salary_history| %>
          <tr>
            <td><%= salary_history.job_title %></td>
            <td><%= number_to_currency(salary_history.salary) %></td>
            <td><%= salary_history.change_date.strftime("%Y-%m-%d") %></td>
            <td><%= salary_history.change_reason %></td>
            <td><%= salary_history.current_salary %></td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <%= button_to "View", user_salary_history_path(@user, salary_history), class: "btn btn-primary me-1", method: :get %>
                <%= button_to "Edit", edit_user_salary_history_path(@user, salary_history), class: "btn btn-secondary me-1", method: :get %>
                <%= button_to "Delete", user_salary_history_path(@user, salary_history), class: "btn btn-danger me-1", method: :delete, data: { confirm: "Are you sure?" } %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
  <%= button_to "Employee360 Portal", root_url, class: "btn btn-primary me-1", method: :get %>
  <%= button_to "New Salary History", new_user_salary_history_path(@user), class: "btn btn-success me-1", method: :get %>
</div>
