<h1 class="mt-3">Admin Area - All Employees</h1>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Title</th>
          <th>Email</th>
          <th>GitHub Handle</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.title %></td>
            <td><i class="bi bi-envelope-at"></i> <%= user.email %></td>
            <td><i class="bi bi-github"></i> <%= user.github_handle %></td>
            <td>
              <%= link_to "Profile", user_path(user), class: "btn btn-primary me-1" %>
              <%= link_to "Goals", user_goals_path(user), class: "btn btn-success me-1" %>
              <%= link_to "Salary History", user_salary_histories_path(user), class: "btn btn-warning me-1" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
  <%= button_to "Employee360 Portal", root_url, class: "btn btn-secondary me-1", method: :get %>
</div>
