<div class="col-sm m-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Employment Data</h4>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th>Start Date</th>
              <th>Last Promotion</th>
              <th>Due for Promotion</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @user.start_date %></td>
              <td><%= @user.last_promotion %></td>
              <td><%= @user.due_for_promotion %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <%= render 'users/current_salary' %>
      <%= render 'users/one_on_one' %>
    </div>
  </div>
</div>
