<div class="col-sm m-3">
  <div class="card">
    <div class="card-body text-center">
      <h4 class="card-title">Employment Data</h4>
      <details>
        <summary>Current Compensation</summary>
        <p><%= @user.current_compensation %></p>
      </details>
      <% if current_user.admin? %>
        <% if @user.due_for_promotion == 'true' %>
          <p class="card-text mt-3">Due for Promotion: YES</p>
        <% else %>
          <p class="card-text mt-3">Due for Promotion: NO</p>
        <% end %>
      <% end %>
      <p class="card-text">Last Promotion: <%= @user.last_promotion %></p>
      <p class="card-text">Last 1-on-1: <%= @user.last_1_on_1 %></p>
      <% if @user.next_1_on_1.blank? %>
        <p>Schedule 1-on-1:<br/>
        <%= link_to "https://doodle.com/bp/robertkaufman/1-on-1-schedule", target: "_blank", class: "btn btn-warning m-1" do %>
          <i class="bi bi-calendar-event"></i> Rob's Doodle
        <% end %>
      <% else %>
        <p>Next 1-on-1: <%= @user.next_1_on_1 %></p>
      <% end %>
    </div>
  </div>
</div>
