<%= form_with(model: @user, local: true) do |form| %>
  <div class="row">
      <div class="col">
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <%= form.label :email %>
          <%= form.email_field :email, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <%= form.label :start_date %>
          <%= form.date_field :start_date, class: "form-control", disabled: true  %>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <%= form.label :title, 'Current Title' %>
          <%= form.text_field :title, value: @user_title, class: "form-control", disabled: true %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <%= form.label :last_promotion %>
          <% if @user.last_promotion %>
            <%= form.date_field :last_promotion, value: @user.last_promotion.strftime("%Y-%m-%d"), class: "form-control", disabled: true %>
          <% else %>
            <%= form.text_field :last_promotion, value: 'Not Applicable', class: "form-control", disabled: true, readonly: true %>
          <% end %>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <%= form.label :current_compensation %>
          <%= form.text_field :current_compensation, class: "form-control", disabled: true  %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <%= form.label :github_handle %>
          <%= form.text_field :github_handle, class: "form-control" %>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <%= form.label :review_document %>
          <%= form.text_field :review_document, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <%= form.label :last_1_on_1 %>
          <%= form.date_field :last_1_on_1, class: "form-control" %>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <%= form.label :next_1_on_1 %>
          <%= form.date_field :next_1_on_1, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="btn-group m-2" role="group" aria-label="Basic example">
      <%= button_to "Back to Profile", user_path(@user), class: "btn btn-success m-1", method: :get %>
      <%= form.submit "Save Changes", class: "btn btn-primary m-1" %>
    </div>
<% end %>