<div class="row align-items-start m-1">
  <div class="col-sm m-3">
    <div class="card">
      <div class="card-body text-center">
        <h1 class="card-title"><%= @user.name %></h1>
        <h4 class="card-subtitle mb-2 text-muted"><%= @user.title %></h4>
        <p class="card-text"><i class="bi bi-envelope-at"></i> <%= @user.email %></p>
        <p class="card-text"><i class="bi bi-github"></i> <%= @user.github_handle %></p>
        <p class="card-text">Start Date: <%= @user.start_date %></p>
        <p>
          <%= link_to @user.review_document, target: "_blank", class: "btn btn-primary me-1" do %>
            <i class="bi bi-file-earmark-text"></i> Review Document
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <%= render 'users/employment_data' %>
  </div>

  <div class="col-sm m-3">
  <%= render 'users/salary_history' %>
  </div>

  <div class="btn-group" role="group" aria-label="Basic example">
    <%= button_to "Employee360 Portal", root_url, class: "btn btn-primary me-1", method: :get %>
    <%= button_to "Edit Profile", edit_user_path(@user), class: "btn btn-success me-1", method: :get  %>
    <% if current_user.superadmin? %>
      <%= button_to "Back to Salary Histories", user_salary_histories_path(@user, @salary_histories), class: "btn btn-warning me-1", method: :get  %>
    <% end %>
  </div>
