<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6 text-center">
      <%= image_tag("scientist-logo.png") %>
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Employee360 Portal</h1>
      <% if current_user %>
        <h2>Hello <%= current_user.name %>!</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget aliquet nibh praesent tristique magna sit amet purus gravida. Pulvinar pellentesque habitant morbi tristique senectus.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <%= link_to user_path(current_user.id), class: "btn btn-primary btn-lg px-4 me-md-2" do %>
            Profile
          <% end %>
          <%= link_to user_goals_path(current_user.id), class: "btn btn-success btn-lg px-4 me-md-2" do %>
            Goals
          <% end %>
          <% if current_user.roles.include?('superadmin') || current_user.roles.include?('admin') %>
            <%= link_to admin_dashboard_path(current_user.id), class: "btn btn-warning btn-lg px-4 me-md-2" do %>
              Admin Area
            <% end %>
          <% end %>
        </div>
      <% else %>
        <p class="lead">Please sign in to access your Employee360 Portal</p>
        <%= link_to "Login", new_user_session_path, class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
