<h1 class="mt-3">Goals for <%= @user.name %></h1>

<div class="row">
  <% @goals.each do |goal| %>
    <div class="col-md-4 mb-3 text-center">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= goal.title %></h4>
          <h6 class="card-text"><%= goal.description %></h6>
          <p class="card-text"><%= goal.due_date %></p>
          <div class="btn-group" role="group" aria-label="Basic example">
            <%= button_to "View", user_goal_path(@user, goal), class: "btn btn-primary me-1", method: :get %>
            <%= button_to "Edit", edit_user_goal_path(@user, goal), class: "btn btn-secondary me-1", method: :get %>
            <%= button_to "Delete", user_goal_path(@user, goal), class: "btn btn-danger me-1", method: :delete, data: { confirm: "Are you sure?" } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
  <%= button_to "Employee360 Portal", root_url, class: "btn btn-primary me-1", method: :get %>
  <%= button_to "New Goal", new_user_goal_path(@user), class: "btn btn-success me-1", method: :get %>
</div>
