<h1>Goals for <%= @user.name %></h1>

<% @goals.each do |goal| %>
  <p><strong>Title:</strong> <%= goal.title %></p>
  <p><strong>Description:</strong> <%= goal.description %></p>
  <p><strong>Due Date:</strong> <%= goal.due_date %></p>
  <!-- Add other goal details here as needed -->
  <div class="btn-group" role="group" aria-label="Basic example">
    <%= button_to "View", user_goal_path(@user, goal), class: "btn btn-primary me-1", method: :get %>
    <%= button_to "Edit", edit_user_goal_path(@user, goal), class: "btn btn-secondary me-1", method: :get %>
    <%= button_to "Delete", user_goal_path(@user, goal), class: "btn btn-danger me-1", method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
  <hr>
<% end %>
<div class="btn-group" role="group" aria-label="Basic example">
  <%= button_to "Employee360 Portal", root_url, class: "btn btn-primary me-1", method: :get %>
  <%= button_to "New Goal", new_user_goal_path(@user), class: "btn btn-success me-1", method: :get %>
</div>
