<h1 class="mt-3"><%= @goal.title %></h1>

<p><strong>Description:</strong> <%= @goal.description %></p>
<p><strong>Due Date:</strong> <%= @goal.due_date %></p>

<div class="btn-group" role="group" aria-label="Basic example">
  <%= button_to "Edit", edit_user_goal_path(@user, @goal), class: "btn btn-secondary", method: :get %>
  <%= button_to "Delete", user_goal_path(@user, @goal), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>
  <%= button_to "Back to Goals", user_goals_path(@user, @goal), class: "btn btn-success", method: :get %>
</div>
